.nav-item .subnav {
  display: none;
  position: absolute;
  min-width: 130px;
  list-style: none;
  background-color: #fff !important; 
  top: 100%;

}
.nav-item:hover .subnav{
    display: block;
}
.subnav li:hover{
    background-color: #000;
}
.subnav li a:hover{
    color: #fff !important;
}
